body{
  position: absolute;
  width: 1024px; height: 768px;
  overflow: hidden;
	background: black;

  /* Change the upper abstand here on the first argument */
	margin: 4.5% auto 0 auto;

	padding: 0px;
	text-align: center;
}

button { 
	background-color: #FFF; 
	color: #000; 
	border: none; 
	font-size: 30px;
	opacity: 0.8;
	height: 10%;
	font-family: Verdana;
}
