body{
	background: black;
	margin: 0px;
	padding: 0px;
}

#locker {
  position: absolute;
  z-index: 999;
  background:rgba(255,0,0,0.7);
  width:100%;
  height: 100%;
  top:0; left:0;
  margin: 0;
  padding:0;
}

video {
  width: 100%;
  height: auto;
  position: absolute;
}

#videos {
  position: relative;
}

#controls {
  font-family: "Menlo", "Helvetica", sans-serif;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 99999;
  margin: 1em 0 0 1.5em;
  padding: .8em;
  border-radius: 5px;
  background: rgba(228,130,0,0.8);
}

#controls *:not(button){
  color: white;
  font-variant: bold;
}

#controls span {
  display: block;
  position: relative;
  width: 150px;
  overflow:auto;
}

#controls span>#stop {
  margin-bottom: 1.5em;
}

#controls span button {
  float: right;
}

#controls span:last-child {
  margin-bottom: 1em;
}
